<div class="container-fluid">
  <div class="row">
    <!-- Cartes à gauche -->
    <div class="col-lg-8 col-md-8 col-12">
      <div class="container">
        <div class="row">
          <% @bookmarks.each do |bookmark| %>
            <div class="col-lg-4 col-md-4 col-12 mb-5"> <!-- Réduisez la largeur des cartes ici -->
              <a href="<%= workspace_path(bookmark.workspace) %>" class="custom-link">
                <div class="card-trip card-trip-list custom-link">
                <a href="<%= workspace_path(bookmark.workspace) %>" class="custom-link">
                <% bookmark.workspace.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 400, width: 500, crop: :fill %>
          <% end %>
            <div class="card-trip-infos">
              <%= bookmark.workspace.name %>
          </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
