li {
  list-style: none;
}
.name-workspace-show{
  margin-left: 20px;
}
.card-user-workspace {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.card-user-workspace h1 {
font-size: 20px;
}
.image-show {
  margin-top: 20px;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-trip-show-infos{
  font-size: larger;
    margin-top: 20px;

}
.input-booking {
  margin-top: 20px;
  border-radius: 40px;
}
.submit-show{
  margin-top: 40px;
}
