<div class="heart">
  <% if @bookmark.persisted? %>
    <%= link_to  [@bookmark], data: { turbo_method: :delete } do %>
    <div class="">
      <i class="fa-solid fa-heart fa-2xl" style="color: #f0ad00;"></i>
    </div>
    <% end %>
  <% else %>
    <%= link_to  [@workspace, @bookmark], data: { turbo_method: :post} do %>
      <div class="">
        <i class="fa-regular fa-heart fa-2xl" style="color: #f0ad00;"></i>
      </div>
    <% end %>
  <% end %>
</div>
