<div class="container-fluid">
  <div class="row">
    <!-- Cartes à gauche -->
    <div class="col-lg-8 col-md-8 col-12">
      <div class="mx-auto mt-2 mb-3">
        <h1 class="text-center">Workspaces</h1>
      </div>
      <div class="container">
        <div class="row">
          <% @workspaces.each do |workspace| %>
            <div class="col-lg-4 col-md-4 col-12 mb-5"> <!-- Réduisez la largeur des cartes ici -->
              <a href="<%= workspace_path(workspace) %>">
                <div class="card-trip card-trip-list custom-link">
                  <% workspace.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                  <% end  %>
                  <div class="card-trip-infos">
                    <div>
                      <%= workspace.name %>
                      <p><%= workspace.name%></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
