<div class="container">
    <i class="fa-solid fa-volume-xmark fa-2xl" style="color: #004792;"></i>
    <i class="fa-solid fa-volume-high fa-2xl" style="color: #CDCBD2;"></i>
    <i class="fa-solid fa-wifi fa-2xl" style="color: #004792;"></i>
    <i class="fa-solid fa-wifi fa-2xl" style="color: #CDCBD2;"></i>
    <i class="fa-solid fa-smoking fa-2xl" style="color: #004792;"></i>
    <i class="fa-solid fa-smoking fa-xl" style="color: #cbced2;"></i>
    <i class="fa-solid fa-dog fa-xl" style="color: #004792;"></i>
    <i class="fa-solid fa-dog fa-2xl" style="color: #cbced2;"></i>
    <i class="fa-solid fa-comments fa-2xl" style="color: #004792"></i>
    <i class="fa-regular fa-comments fa-2xl" style="color: #cbced2;"></i>
    <i class="fa-solid fa-wrench fa-2xl" style="color: #004792;"></i>
    <i class="fa-solid fa-wrench fa-2xl" style="color: #cbced2;"></i>
</div>
