.yellow-btn {
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  align-items: center;
  display: block; /* Change button to block-level element */
  margin: 0 auto; /* Center block-level element horizontally */
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #FFB116;
  background-image: linear-gradient(45deg, #FC9100 0%, #FFB116  51%, #FC9100  100%);
  cursor: pointer;
  opacity: 0.9;
  white-space: normal;
}

.yellow-btn-mini {
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 600;
  box-shadow: 0px 0px 14px -7px #FFB116;
  background-image: linear-gradient(45deg, #FC9100 0%, #FFB116 51%, #FC9100 100%);
  cursor: pointer;
  opacity: 0.9;
  max-width: 130px; /* Réduisez la largeur maximale du bouton */
  white-space: normal;
}

.yellow-btn-mini-home {
  padding: 6px 10px;
  margin-left: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 25px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #FFB116;
  background-image: linear-gradient(45deg, #FC9100 0%, #FFB116 51%, #FC9100 100%);
  cursor: pointer;
  opacity: 0.8;
  max-width: 130px; /* Réduisez la largeur maximale du bouton */
  white-space: normal;
}

.yellow-btn-mini-workspace {
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #FFB116;
  background-image: linear-gradient(45deg, #FC9100 0%, #FFB116 51%, #FC9100 100%);
  cursor: pointer;
  opacity: 0.8;
  max-width: 130px; /* Réduisez la largeur maximale du bouton */
  white-space: normal;
}

.yellow-btn-mini-clair {
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #FFB116;
  background-image: linear-gradient(45deg, #FC9100 0%, #FFB116 51%, #FC9100 100%);
  cursor: pointer;
  opacity: 0.5;
  max-width: 150px; /* Réduisez la largeur maximale du bouton */
  white-space: normal;
}

.yellow-btn-mini-home:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.yellow-btn-mini-workspace:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.yellow-btn-mini:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.yellow-btn:active {
  transform: scale(0.95);
}


.yellow-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.yellow-btn:active {
  transform: scale(0.95);
}

.delete-btn {
background-color: #8E959F;
box-shadow: 0px 0px 14px -7px #494949;
transition: 0.5s;
opacity: 0.6;
color: white;
margin-top: 30px;
padding: 10px 20px;
border-radius: 10px;
text-align: center;
text-transform: uppercase;
width: 100%;
font-weight: 700;
}
