.titre-dashboard {
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 20px;
}

.card-product-dashboard-3 {
  h2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #004792;
  }
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  ul {
    margin: 0;
    padding: 0;
  }
  p{
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
}

.profile-details {
  display: flex;
}

.profile-details-left {
  margin-top: 20px;
  width: 35%;
}

.avatar-profile-details-dashboard {
  width: 90%;
  border-radius: 50%;
}


.profile-details-right {
  a {
    color: orange;
    text-decoration: none;
  }
  width: 65%;
  display: flex;
}


.card-product-dashboard-3 .card-product-infos {
  padding: 20px;
}

.flexbox {
  display: flex;
  flex-direction: column;
  /* default is flex-direction: row; */
}

.accept-decline {
  display: flex;
  justify-items: stretch;
  }

.decline{
  a {
    color: #FCA634;
    text-decoration: none;
  }
}

.accept{
  a {
    text-decoration: none;
    color: black;
    margin-right: 5px;
  }
}

.reservation-details {
  display: flex;
}

.reservation-details-left {
  margin-top: 20px;
  margin-right: 10px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.reservation-details-right {
  margin-top: 20px;
  width: 40%;
}

.photo-reservation {
  width: 100%;
  max-height: 85px;
  border-radius: 15px;
}

.workspace-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
