@import url("https://fonts.googleapis.com/css?family=Montserrat:500,400|Hammersmith+One:400");

body {
  background-color: #f0faffd0;
  // overflow: hidden;
}

a {
  text-decoration: none;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top-divider {
  height: 2px;
  width: 100%;
  background: linear-gradient( 80deg, #c5c5c527, #ff810bb2);
  margin-bottom: 20px;
  margin-top: 10px;
}

