.heart-position{
  position: relative;
}

.heart{
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.background{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background.checked{
  background: white;

}

.background.unchecked{
  background: transparent;

}
