.heart-position{
  position: relative;
}

.heart{
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.background{
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
