.font-size-description{
font-size: 14px;
font-family: "Montserrat";
}

.container-profile{
  margin: 20px;
  h2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #004792;
  }
  H3{
    font-size: 16px;
    margin: 0;
    color: black;
  }
}

.profile-title{
  margin-top: 20px;
}

.profile-content{
  font-family: "Montserrat";
  font-size: 16px;
}

.button-linkedin-row {
  display: flex;
  align-items: stretch;
  align-items: center;
}

.linkedin-form-1{
  background-color: #E6E9EB;
  border-radius: 15px;
  border-color: #004792;
  height: 20px;
  font-size: xx-small;
  width: 250px;
  }
