.font-size-description{
font-size: 12px;
}

.container-profile{
  margin-top: 20px;
  margin-bottom: 20px;
  h2{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #004792;
  }
  H3{
    font-size: 14px;
    margin: 0;
    color: black;
  }


}

.profile-title{
  margin-top: 20px;
}
