<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous informons que votre email a bien été changé par <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous informons que votre email a bien été changé par <%= @resource.email %>.</p>
<% end %>
