<div class="container">
  <div class="row form-user">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <p>Hello <%= @resource.email %>!</p>

      <p>Votre mot de passe a bien été modifié !</p>
    </div>
  </div>
</div>
