<div class="container">
  <div class="row form-user">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <p>Bonjour <%= @resource.email %>!</p>

      <p>Vous avez demandé la réinitialisation de votre mot de passe. Merci de cliquer sur le lien ci-dessous pour continuer la procédure :</p>

      <p><%= link_to 'Réinitialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

      <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez l'ignorer.</p>
      <p>Le mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur le lien et validé un nouveau mot de passe.</p>
    </div>
  </div>
</div>
